.zbxqy-head{
	width: 100%;
	background: #1B73D7;
	font-size: 0.28rem;
	padding: 0.25rem 0.5rem 0.07rem;
	box-sizing: border-box;
	overflow: hidden;

}
.head-left{
	float: left;
}
.head-left>a{
	display: block;
}
.head-left>a>img{
 width: 0.46rem;
 height: 0.47rem;
 display: block;
}
.head-right{
width: 100%;
text-align: center;
}
.head-right>span:first-of-type{
   display: block;
   width: 100%;
   font-size: 0.28rem;
   color: #FFFFFF;
   line-height: 0.3rem;
   font-weight: bold;
}
.head-right>span:last-child{
	font-size: 0.2rem;
	color: #FFFFFF;
	
	display: block;
}
.zbxqy-baina{
	width: 100%;
	position: relative;
}
.zbxqy-baina>a:first-of-type{
	display: block;
	width: 100%;

}
.zbxqy-baina>a>img{
	width: 100%;
	display: block;
}
.dayuan{
width: 1.68rem;
	height: 1.68rem;
	border-radius: 50%;
	background-image:url("../img/zbxqy-baina.png");
background-repeat: no-repeat;
	background-size: cover;
	background-position: -0.3rem -0.0rem;
	position: absolute;
	bottom: -0.8rem;
	left: 2.95rem;
	display: block;

}

.yuan{
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	/* border:0.07rem solid red; */
	background-image: url('../img/zbxqy-touxiang.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -0.3rem -0.0rem;
	position: absolute;
	top: 0rem;
	bottom: 0rem;
	left: 0rem;
	right: 0rem;
	margin: auto;


 

}
.yuan>a{
display: block;
width: 100%;
}
/* .yuan>a>img{
	width: 1.65rem;
	display: block;
} */
.huise{
	width: 100%;
	background: #F5F5F5;
	padding-top: 1rem;
	overflow: hidden;
	
	box-sizing: border-box;
	
	border-bottom: 0.01rem solid #000000;
}
.zhongjianzi{
	width: 100%;
	overflow: hidden;
}
.zhongjianzi-left{
	width: 50%;
	float: left;
	overflow: hidden;
	
}
.zhongjianzi-left>a{
	display: block;

}
.zhongjianzi-left>a>img{
width: 0.42rem;
display: block;
float: right;

}
.zhongjianzi-left>a>span{
	font-size: 0.2rem;
	color: #383838;
	float: right;
	line-height: 0.4rem;
	/* margin-top: 0.05rem; */
	margin-left: 0.15rem;
	margin-right: 0.1rem;

}
.zhongjianzi-right{
	width: 50%;
	float: left;
	overflow: hidden;
	
}
.zhongjianzi-right>a{
	display: block;
	
}
.zhongjianzi-right>a>img{
width: 0.35rem;
display: block;
float: left;
margin-left: 0.5rem;
margin-right: 0.15rem;
}
.zhongjianzi-right>a>span{
	font-size: 0.2rem;
	color: #383838;
	float: left;
	line-height: 0.4rem;
	/* margin-top: 0.05rem; */

}

.guanzhu{
	width: 100%;
	margin-bottom: 0.4rem;

}
.guanzhu>input{
	display: block;
	width: 2.55rem;
	height: 0.3rem;
	background: #1667D1;
	border-radius: 0.4rem;
	outline: none;
	border: 0rem;
	color: #C5D9F3;
	font-size: 0.2rem;
	margin: 0rem auto;
	display: block;
	text-align: center;
	line-height: 0.3rem;
}
.huise2{
background: #F5F5F5;
padding-top: 0.35rem;
padding-bottom: 2.37rem;

}
.huise2>p{
	color: #595959;
	font-size: 0.24rem;
	padding:0rem 0.25rem;
margin-bottom: 2rem;
}
.zi{
	font-size:0.24rem; 
	color: #B2B2B2;
	text-align: center;
}
.zi2{
	font-size:0.24rem; 
	color: #B2B2B2;
	text-align: center;
}